<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href = "https://www.instagram.com/chandan_gowda_cpt?igsh=MTZmdmN2bnFkdjdlOQ=="><i class="fa-brands fa-instagram"></i></a>
            <a href ="https://github.com/ChandanGowdaKS"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/in/chandan-gowda-k-s/"><i class="fa-regular fa-envelope"></i></a>            
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="f-info-brand"> &copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy </a>
            <a href = "/Terms"> Terms and Conditions</a>
        </div>

    </div>
</footer>