<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New List</title>
</head>
<body>
    <h3>Create Your New Listing</h3>
    <br>
    <form method = "post" action = "/listings">
        <ul>
            <b>Title: <input name = "title" type="text"></b>
            <br>
            <p><b>Description: </p>
            <textarea name ="description" rows ="10" cols ="50" type="text"></textarea>
            <br>
            <br>    
            <b>Price:</b><input name = "price" type = "number">
            <br><br>
            <b>Location: <input name ="location" type="text"> </b>
            <br><br>
            <b>Country: <input name = "country" type="text"></b>
            <br><br>
        <button> Create</button> 
        </ul>
        
    </form>
</body>
</html>