<% layout("/layouts/boilerplate") -%>
<br><br>    
<div class="row">

   <div class="col-8 offset-2">

   
  <h3>Create Your New Listing</h3>
  <br />
  <form method="post" action="/listings">
      <div class="mb-3">
        <label for="title" class="form-label fw-bold">Title :</label>
        <input
          name="title"
          type="text"
          placeholder="Enter the title"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label fw-bold"
          >Description:
        </label>
        <textarea
          name="description"
          class="form-control"
          rows=""
          cols=""
          type="text"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="image.url" class="form-label fw-bold">Image URL :</label>
        <input name="image.url" class="form-control" />
      </div>
      <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label fw-bold">Price :</label>
        <input name="price" type="number" class="form-control" placeholder="1,500"/>
      </div>
      <div class="mb-3 col-md-8">
        <label for="country" class="form-label fw-bold">Country:</label>
        <input name="country" type="text" class="form-control" placeholder="India"/>
      </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label fw-bold">Location:</label>
        <input name="location" type="text" class="form-control" placeholder="Bengaluru,India"/>
      </div>

      <button class="btn btn-dark">Create</button>
  </form>
  </div>
 </div>
<br><br>